<!-- Register Employer Form -->
<div id="form-wrapper" class="col-sm-6" ng-cloak>
    <form name="registerEmployerForm" ng-submit="vm.submitEmployerRegisterForm()" novalidate>
        
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.firstName.$invalid && !registerEmployerForm.firstName.$pristine }">
            <md-input-container>
                <label>First Name</label>
                <input type="text" required name="firstName" class="form-control" ng-pattern="namePattern" ng-model="vm.registerEmlpoyerBm.firstName">
                <div class="validation-messages" ng-messages="registerEmployerForm.firstName.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedName}}</div>
                </div>
            </md-input-container>
        </div>
       
        <!-- Last Name -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.lastName.$invalid && !registerEmployerForm.lastName.$pristine }">
            <md-input-container>
                <label>Last Name</label>
                <input type="text" required name="lastName" class="form-control" ng-minlength="2" ng-maxlength="15" ng-pattern="namePattern" ng-model="vm.registerEmlpoyerBm.lastName">
                <div class="validation-messages" ng-messages="registerEmployerForm.lastName.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedName}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Business Name -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.businessName.$invalid && !registerEmployerForm.businessName.$pristine }">
            <md-input-container>
                <label>Business Name</label>
                <input type="text" required name="businessName" class="form-control" ng-pattern="businessNamePattern" ng-model="vm.registerEmlpoyerBm.businessName">
                <div class="validation-messages" ng-messages="registerEmployerForm.businessName.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedBussinesName}}</div>
                </div>
            </md-input-container>
        </div>
        
        <!-- Bulstat Id Number -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.bulstatIdNumber.$invalid && !registerEmployerForm.bulstatIdNumber.$pristine }">
            <md-input-container>
                <label>Bulstat Id Number</label>
                <input type="number" required name="bulstatIdNumber" class="form-control" ng-pattern="bulstatIdNumberPattern" ng-model="vm.registerEmlpoyerBm.bulstatIdNumber">
                <div class="validation-messages" ng-messages="registerEmployerForm.bulstatIdNumber.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedBussinesName}}</div>
                </div>
            </md-input-container>
        </div>
        
        <!-- Phone Number --> 
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.phoneNumber.$invalid && !registerEmployerForm.phoneNumber.$pristine }">
            <md-input-container>
                <label>Phone Number</label>
                <input type="number" required name="phoneNumber" class="form-control" ng-pattern="phonePattern" ng-model="vm.registerEmlpoyerBm.phoneNumber">
                <div class="validation-messages" ng-messages="registerEmployerForm.phoneNumber.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedPhone}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Date Of Birth -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.dateOfBirth.$invalid && !registerEmployerForm.dateOfBirth.$pristine }">
            <md-input-container>
                <md-datepicker name="dateOfBirth" required ng-model="vm.registerEmlpoyerBm.dateOfBirth" md-placeholder="Enter Date of Birth" md-is-open="vm.isOpen"></md-datepicker>
                <div class="validation-messages" ng-messages="registerEmployerForm.dateOfBirth.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Username -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.username.$invalid && !registerEmployerForm.username.$pristine }">
            <md-input-container>
                <label>Username</label>
                <input type="text" required name="username" class="form-control" ng-pattern="usernamePattern" ng-model="vm.registerEmlpoyerBm.username">
                <div class="validation-messages" ng-messages="registerEmployerForm.username.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedUsername}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.email.$invalid && !registerEmployerForm.email.$pristine }">
            <md-input-container>
                <label>Email</label>
                <input type="email" required name="email" class="form-control" ng-model="vm.registerEmlpoyerBm.email" ng-pattern="emailPattern">
                <div class="validation-messages" ng-messages="registerEmployerForm.email.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedEmail}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.password.$invalid && !registerEmployerForm.password.$pristine }">
            <md-input-container>
                <label>Password</label>
                <input type="password" required name="password" class="form-control" ng-pattern="passwordPattern" ng-model="vm.registerEmlpoyerBm.password">
                <div class="validation-messages" ng-messages="registerEmployerForm.password.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedPassword}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Confirm Password -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployerForm.confirmPassword.$invalid && !registerEmployerForm.confirmPassword.$pristine }">
            <md-input-container>
                <label>Confirm Password</label>
                <input type="password" required name="confirmPassword" class="form-control" ng-match="vm.registerEmlpoyerBm.password" ng-model="vm.registerEmlpoyerBm.confirmPassword">
                <div class="validation-messages" ng-messages="registerEmployerForm.confirmPassword.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="match">{{messageForConfirmPassword}}</div>
                </div>
            </md-input-container>
        </div>
        
        <button type="submit" class="form-button btn " ng-disabled="registerEmployerForm.$invalid
                                                                    || (registerEmployerForm.username.$pristine
                                                                    || registerEmployerForm.firstName.$pristine
                                                                    || registerEmployerForm.password.$pristine
                                                                    || registerEmployerForm.confirmPassword.$pristine)">Register</button>
    </form>
</div>