<!-- Register Employee Form -->
<div id="form-wrapper" class="col-sm-6" ng-cloak>
    <form name="registerEmployeeForm" ng-submit="vm.submitEmployeeRegisterForm()" novalidate>

        <!-- First Name -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.firstName.$invalid && !registerEmployeeForm.firstName.$pristine }">
            <md-input-container>
                <label>First Name</label>
                <input type="text" required name="firstName" class="form-control" ng-pattern="namePattern" ng-model="vm.registerEmployeeBM.firstName">
                <div class="validation-messages" ng-messages="registerEmployeeForm.firstName.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedName}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Last Name -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.lastName.$invalid && !registerEmployeeForm.lastName.$pristine }">
            <md-input-container>
                <label>Last Name</label>
                <input type="text" required name="lastName" class="form-control" ng-minlength="2" ng-maxlength="15" ng-pattern="namePattern" ng-model="vm.registerEmployeeBM.lastName">
                <div class="validation-messages" ng-messages="registerEmployeeForm.lastName.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedName}}</div>
                </div>
            </md-input-container>
        </div>



        <!-- Date Of Birth -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.dateOfBirth.$invalid && !registerEmployeeForm.dateOfBirth.$pristine }">
            <md-input-container>
                <md-datepicker name="dateOfBirth" required ng-model="vm.registerEmployeeBM.dateOfBirth" md-placeholder="Enter Date of Birth" md-is-open="vm.isOpen"></md-datepicker>
                <div class="validation-messages" ng-messages="registerEmployeeForm.dateOfBirth.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Username -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.username.$invalid && !registerEmployeeForm.username.$pristine }">
            <md-input-container>
                <label>Username</label>
                <input type="text" required name="username" class="form-control" ng-pattern="usernamePattern" ng-model="vm.registerEmployeeBM.username">
                <div class="validation-messages" ng-messages="registerEmployeeForm.username.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedUsername}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.email.$invalid && !registerEmployeeForm.email.$pristine }">
            <md-input-container>
                <label>Email</label>
                <input type="email" required name="email" class="form-control" ng-model="vm.registerEmployeeBM.email" ng-pattern="emailPattern">
                <div class="validation-messages" ng-messages="registerEmployeeForm.email.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedEmail}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.password.$invalid && !registerEmployeeForm.password.$pristine }">
            <md-input-container>
                <label>Password</label>
                <input type="password" required name="password" class="form-control" ng-pattern="passwordPattern" ng-model="vm.registerEmployeeBM.password">
                <div class="validation-messages" ng-messages="registerEmployeeForm.password.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="pattern">{{messageForNotMatchedPassword}}</div>
                </div>
            </md-input-container>
        </div>

        <!-- Confirm Password -->
        <div class="form-group" ng-class="{ 'has-error' : registerEmployeeForm.confirmPassword.$invalid && !registerEmployeeForm.confirmPassword.$pristine }">
            <md-input-container>
                <label>Confirm Password</label>
                <input type="password" required name="confirmPassword" class="form-control" ng-match="vm.registerEmployeeBM.password" ng-model="vm.registerEmployeeBM.confirmPassword">
                <div class="validation-messages" ng-messages="registerEmployeeForm.confirmPassword.$error">
                    <div ng-message="required">{{messageForMissingRequiredField}}</div>
                    <div ng-message="match">{{messageForConfirmPassword}}</div>
                </div>
            </md-input-container>
        </div>

            <button type="submit" class="btn form-button" ng-disabled="registerEmployeeForm.$invalid
                                                                    || (registerEmployeeForm.username.$pristine
                                                                    || registerEmployeeForm.firstName.$pristine
                                                                    || registerEmployeeForm.password.$pristine
                                                                    || registerEmployeeForm.confirmPassword.$pristine)">Register</button>
        
    </form>
</div>