@font-face {
    font-family: Agency FB;
    src: url(http://uncutbeatz.com/clear/fonts/AGENCYR.TTF.ttf);
    font-style: normal;
}

/* COMMON CSS {START} */
div#wrapper {
    position: relative;
    margin-top: 2.5%;
}

#main-slider {
    position: relative;
    margin-top: 0px;
}

div.footer {
    background: #00283a;
}

md-input-container {
    margin: 0;
    width: 80%;
    left: 10%;
}

.form-button {
    position: relative;
    width: 20%;
    left: 40%;
}

.temp-margin-bootom {
    margin-bottom: 20%;
}

html, body {
    background-color: #ffffff;
}

.section {
    padding: 2% 0;
}

div.footer {
    margin-top: 4%;
    box-shadow: rgba(174, 198, 44, 0.8) 1px -4px 8px;
    border: none;
}

.navbar {
    background-color: #00283a;
    box-shadow: rgba(174, 198, 44, 0.8) 1px 4px 8px;
}

.help-block {
    color: red;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


.header-wrapper {
    position: relative;
    text-align: center;
    border: #aec62c solid 3px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 4px 8px;
    background: #00283a;
    width: 50%;
    position: relative;
    left: 25%;
    margin: 0 4px 60px 4px;
    text-align: center;
    padding: 7px 5px 7px 5px;
}

    .header-wrapper p {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 35px;
        text-align: center;
        height: 80px;
    }

    .header-wrapper h3 {
        color: #aec62c;
        font-family: 'Open Sans', serif;
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        text-shadow: #00283a -2px 2px;
        font-family: Agency FB;
    }

/* COMMON CSS {END} */

/* /USER/LOGIN CSS {START} */

div#form-wrapper {
    width: 50%;
    position: relative;
    left: 25%;
}


/* /USER/LOGIN CSS {END} */

/* /USER/REGISTER CSS {START} */

.content-wrapper {
    margin-top: 2%;
    background: #ffffff;
}

.register-choose-type-wrapper {
    position: relative;
    text-align: center;
    border: #aec62c solid 3px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 4px 8px;
    background: #00283a;
    margin: 0 4px 0 4px;
    padding: 7px 5px 7px 5px;
}

    .register-choose-type-wrapper p {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 35px;
        text-align: center;
        height: 80px;
    }

    .register-choose-type-wrapper h3 {
        color: #aec62c;
        font-family: 'Open Sans', serif;
        font-size: 30px;
        font-weight: lighter;
        margin: 0 30px 40px;
        text-align: center;
        text-shadow: #00283a -2px 2px;
        font-family: Agency FB;
    }


.register-form-row {
    margin-top: 3%;
}

.active-register-section {
    border: none;
    box-shadow: #aec62c 0px 0px 35px;
}

/* /USER/REGISTER CSS {END} */

/* /JOB/ALL CSS {START} */
#job-search-wrapper {
    background-color: #ffffff;
    box-shadow: #aec62c 0px 0px 35px;
}
/* /JOB/ALL CSS {END} */



@media screen and (min-height: 1600px) {

    div#wrapper {
        margin-top: 0;
    }
}
